<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Family Cyber City</title>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <script src="js/jquery-3.1.1.js"></script>

  <!-- SLIDEOUT NAV LINKS-->
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="css/icons.css" />
  <script src="js/jquery.mmenu.min.js"></script>
  <link rel="stylesheet" href="css/jquery.mmenu.css">
  <link href="css/jquery.mmenu.pagedim.css" type="text/css" rel="stylesheet" />
  <script src="js/jquery.mmenu.iconpanels.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/jquery.mmenu.iconpanels.css">
  <script src="js/jquery.mmenu.fixedelements.min.js"></script>
  <!-- END SLIDEOUT NAV LINKS-->

  <!-- SLIDESHOW LINKS -->
  <script src="js/jquery.cycle2.js"></script>
  <script src="js/jquery.cycle2.swipe.js"></script>
  <!-- END SLIDESHOW LINKS -->

  <!--SCROLLING LINKS-->
  <script src="js/scrolling-nav.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <link rel="stylesheet" href="css/scrolling-nav.css">
  <!--END SCROLLING LINKS-->

  <!-- FONT LINKS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i'>

  <!-- END FONT LINKS -->

  <!-- MENU BUTTON LINKS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <link rel="stylesheet" href="css/component2.css">
  <link rel="stylesheet" href="css/hamburgers.css">
  <script src="js/classie.js"></script>
  <!--END MENU BUTTON LINKS-->
  <script>
    function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 20,
                header = document.querySelector("header"),
                logo = document.querySelector(".logo");
            if (distanceY > shrinkOn) {
                classie.add(header,"active");
                classie.add(logo,"smaller")
            } else {
                if (classie.has(header,"active")) {
                    classie.remove(header,"active");
                    classie.remove(logo,"smaller");
                }
            }
        });
    }
    window.onload = init();
  </script>
</head>

<body>
  <div id="my-wrapper">
    <button class="cn-button" id="cn-button">Menu</button>
    <div class="cn-wrapper" id="cn-wrapper">
      <ul>
        <li><a class="page-scroll nav-link" href="#additions"><span>New</span></a></li>
        <li><a class="page-scroll nav-link2" href="#activities"><span>Activities</span></a></li>
        <li><a class="page-scroll nav-link3" href="#spacebar"><span>Space Bar</span></a></li>
        <li><a class="page-scroll nav-link4" href="#upcoming"><span>Upcoming</span></a></li>
        <li><a class="page-scroll nav-link5" href="#contact"><span>Contact</span></a></li>
       </ul>
    </div>
    <a href="index.html"><img src="images/logo.png" alt="logo" class="logo"></a>

      <header id="header" class="header">
        <a href="#page-top" class="page-scroll"><h1>F@mily Cyb3r C1ty</h1></a>
        <button id="hamburger" class="hamburger hamburger--emphatic" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <nav>
          <ul>
            <li><a class="page-scroll" href="#contact">Contact</a></li>
            <li><a class="page-scroll" href="#upcoming">Upcoming</a></li>
            <li><a class="page-scroll" href="#spacebar">Space Bar</a></li>
            <li><a class="page-scroll" href="#activities">Activities</a></li>
            <li><a class="page-scroll" href="#additions">What's New</a></li>
          </ul>
        </nav>
      </header>

      <!--SLIDESHOW-->
      <div class="cycle-slideshow" data-cycle="true" data-cycle-swipe-fx="scrollHorz" data-cycle-next="#next" data-cycle-prev="#prev" data-cycle-tile-count="10" id="page-top">
        <div class="cycle-slideshow-overlay">
          <h1>F@mily Cyb3r C1ty</h1>
          <hr class="green">
          <p>We are a family-friendly, age-friendly, family fun center of the future that ensures anyone can enjoy using technology.</p>
        </div>
        <div><img src="images/arcade-picture.jpg"></div>
        <a href="#additions" class="page-scroll down-arrow flaticon-arrows"></a>
      </div>
      <!--END SLIDESHOW-->

    <main>

    </main>

    <footer class="navy-blue-bg top-fix" id="contact">
      <h1 class="heading">F@mily Cyb3r C1ty</h1>
      <hr>
      <section class="footer-section activities">
        <h3>Activities</h3>
        <ul class="activities-list">
          <li><a href="activities/sports.html">Virtual Sports</a></li>
          <li><a href="activities/laser.html">Laser Tag</a></li>
          <li><a href="activities/arcade.html">Advanced Arcade</a></li>
          <li><a href="activities/theater.html">Theater &amp; Games</a></li>
          <li><a href="activities/robotics.html">Robotics Room</a></li>
          <li><a href="activities/pool.html">Holographic Pool</a></li>
          <li><a href="activities/drone.html">Drone Racing</a></li>
        </ul>
      </section>

      <section class="footer-section contact">
        <h3>Contact</h3>
          <div class="contact-list">
            <a class="icon icon-mail"></a>
            <a class="contact-left less-space" href="mailto:familycybercity@gmail.com">familycybercity@gmail.com</a>
            <a class="contact-left more-space" href="mailto:help.fcc@gmail.com">help.fcc@gmail.com</a>
            <a class="icon icon-phone"></a>
            <a class="contact-left less-space" href="tel:1-800-366-3669">1-800-366-3669</a>
            <a class="contact-left more-space" href="tel:1-800-366-3670">1-800-366-3670</a>
            <a class="icon3 flaticon-map-location"></a>
            <a class="contact-left less-space">Family Cyber City</a>
            <a class="contact-left less-space">1262-1500 Goethals Rd N</a>
            <a class="contact-left">Staten Island, NY 10303</a>
          </div>
      </section>

      <section class="footer-section hours">
        <h3>Hours</h3>
        <ul class="hours-list">
          <div class="computer">
            <li>Monday: 10am - 8pm</li>
            <li>Tuesday: 10am - 8pm</li>
            <li>Wednesday: 10am - 8pm</li>
            <li>Thursday: 10am - 8pm</li>
            <li>Friday: 10am - 12am</li>
            <li>Saturday: 10am - 12am</li>
            <li>Sunday: 10am - 10pm</li>
          </div>
          <div class="mobile">
            <li>Mon: 10A - 8P</li>
            <li>Tue: 10A - 8P</li>
            <li>Wed: 10A - 8P</li>
            <li>Thur: 10A - 8P</li>
            <li>Fri: 10A - 12A</li>
            <li>Sat: 10A - 12A</li>
            <li>Sun: 10A - 10P</li>
          </div>
        </ul>
      </section>

      <section class="social-section">
        <h3>Connect with Us</h3>
        <div class="social-icons">
          <a id="facebook" href="https://www.facebook.com/familycybercity/" class="social flaticon-facebook-logo-button"></a>
          <a id="plus" href="https://plus.google.com/105029289738376648082?hl=en" class="social flaticon-google-plus-logo-button"></a>
          <a id="inst" href="https://www.instagram.com/familycybercity/" class="social flaticon-instagram-logo"></a>
          <a id="link" href="https://www.linkedin.com/in/dylan-burr-248843133?trk=prof-samename-name" class="social flaticon-linkedin-logo-button"></a>
          <a id="twitter" href="https://twitter.com/familycybercity" class="social flaticon-twitter-logo-button"></a>
        </div>
      </section>
    </footer>
  </div> <!--/End my-page div -->

  <nav id="my-menu">
    <ul>
      <li><span>Activities</span>
        <ul>
          <li><span>Indoor</span>
            <ul>
              <li><a href="activities/sports.html">Virtual Sports</a></li>
              <li><a href="activities/laser.html">Laser Tag</a></li>
              <li><a href="activities/arcade.html">Advanced Arcade</a></li>
              <li><a href="activities/theater.html">Theater &amp; Games</a></li>
              <li><a href="activities/robotics.html">Robotics Room</a></li>
            </ul>
          </li>
          <li><span>Outdoor</span>
            <ul>
              <li><a href="activities/pool.html">Holographic Pool</a></li>
              <li><a href="activities/drone.html">Drone Racing</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="food.html">Food</a></li>
      <li><a href="pricing.html">Pricing</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="contact.html">Contact Us</a></li>
      <li><a href="/reservations">Reservations</a></li>
      <li><a href="credits.html">Credits</a></li>
    </ul>
  </nav>
  <script>
   $(document).ready(function() {
      $("#my-menu").mmenu();
   });

   var $menu = $("#my-menu").mmenu({
     "extensions": ["pagedim-black"],
   });
   var $icon = $("#hamburger");
   var API = $menu.data( "mmenu" );

   $icon.on( "click", function( event ) {
     event.preventDefault();
     API.open();
   });

   API.bind( "opened", function() {
     setTimeout(function() {
       $icon.addClass( "is-active" );
     }, 100);
   });
   API.bind( "closed", function() {
     setTimeout(function() {
       $icon.removeClass( "is-active" );
     }, 100);
   });
   </script>
   <script>
   $('.nav-link').click( function() {
     $("#cn-wrapper").toggleClass("opened-nav");
   });
   $('.nav-link2').click( function() {
     $("#cn-wrapper").toggleClass("opened-nav");
   });
   $('.nav-link3').click( function() {
     $("#cn-wrapper").toggleClass("opened-nav");
   });
   $('.nav-link4').click( function() {
     $("#cn-wrapper").toggleClass("opened-nav");
   });
   $('.nav-link5').click( function() {
     $("#cn-wrapper").toggleClass("opened-nav");
   });
  </script>

  <script src="js/demo2.js"></script>
</body>
</html>
